$('#new_job').remove()
$('#new_job_link').show()
$('#tbody').append('<tr><td><%= link_to @job.title, job_path(@job) %></td> <td><%= @job.description %></td><td><% if @job.completed == false%><p>On the List</p><% elsif @job.pending == true%><p>Working Process</p><% else %><p>Done</p><% end %></td>  <% if @job.worker_id == nil %><td id="<%= @job.id %>_normal"><p>Available <%= link_to "Claim", job_path(@job), :method => "patch", remote: true%></p></td><% else %><td><%= Worker.find(@job.worker_id).email %></td><% end %><td id="<%= @job.id %>"></td></tr>')
