<h1>Jobs</h1>

<table>
  <thead>
    <tr>
      <th>Job</th>
      <th>Description</th>
      <th>Complete</th>
      <th>Who</th>
    </tr>
  </thead>

  <tbody id="tbody">
    <% @jobs.each do |job| %>
      <tr>
        <td><%= link_to job.title, job_path(job) %></td> <td><%= job.description %></td>
        <td>
          <% if job.pending == false%>
            <div id="stuff">
              <p>On the List</p><p><%= link_to 'Start', job_path(job, pending: true), remote: true %></p>
            </div>
            <div id="new_stuff">
            </div>
            <% else %>
            <p>Working Process</p>
          <% end %>
        </td>
        <% if job.worker_id == nil %>
          <td id="<%= job.id %>_normal"><p>Available <%= link_to "Claim", job_path(job), :method => "patch", remote: true %></p></td>
        <% else %>
        <td><%= Worker.find(job.worker_id).email %></td>
        <% end %>
        <td id="<%= job.id %>"></td>
      </tr>
    <% end %>
  </tbody>
</table>
